@font-face {
    font-family: titleFont;
    src: url(Semplicita_Ombra.otf) format("opentype");
}

@font-face {
    font-family: italic;
    src: url(AvenirNextLTPro-Regular.otf);
}

h1{
	padding-top: 25px;
	font-size:50px;
	color:#FFB51F;
	font-family: titleFont;
	padding-left: 25px;
}

body{
	background-color: #ffffff;
}

h2{
	font-size: 20px;
	font-family: italic;
	color:#FFB51F;
	padding-left: 25px;
}

a:hover {
    color: #545454;
}
a{
	color:#E55420;
}
img{
    display: block;
    margin: auto;
    width: 30%;
	padding-right:100px;
	padding-bottom:50px;
}
p{  font-size:20px;
	color:#FFB51F;
	font-family: italic;
	padding-left:100px;
padding-right: 50px;
padding-top: 25px;
padding-bottom:50px;}